@import '../../colors.scss';

nav{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: $colors-text-1;
    font-weight: 800;
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 1.5vh;
}

li{
    flex-basis: 100px;
    text-align: center;
    a{
        padding: 10px 0;
        position: relative;
        
    }
    a:hover{
        color: $color-border-1
    }
    a::after {
       content: ''; 
       position: absolute;
       bottom: 0; 
       left: 0; 
       width: 0; 
       height: 2px; 
       background-color: $color-border-1; 
       transition: width 0.3s ease; 
    }
    a:hover::after {
        width: 100%; 
    }
    .activado::after{
        content: '';
        position: absolute; 
        bottom: 0; 
        left: 0; 
        width: 100%; 
        height: 2px; 
        background-color: $color-border-1; 
    } 
}

#twitter{
    transition: color, transform 0.3s ease-in-out;
}
#twitter:hover{
    color: #1DA1F2;
    transform: scale(110%);
    
}
 
#instagram{
    transition: color, transform 0.3s ease-in-out;
    
}
#instagram:hover{
    color: #000100;
    transform: scale(110%);
    
}
 
#facebook{
    transition: color, transform 0.3s ease-out;
    
}
#facebook:hover{
    color: #1877F2;
    transform: scale(110%);
    
    
}

@media(920px <= width <= 1150px){
    nav{
        background-color: red;
        max-width: 800px;
    }
}


@media(width <= 920px){
    nav{
        justify-content: center;
        max-width: 600px;
        position: relative;
    }

    a{
        padding: 0;
        margin: 0;
    }

    li{
        /* padding: 40px 0; */
        margin: 0;
        flex-basis: 0;
      
    }

    .lista{
        display: none; 
    } 

    .nav_toggle{
        display: inline;
        position: absolute;
        left: -5%;
    } 
    .icons{
        display: none;
    }

    .nav_toglle_active{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        position: absolute;
        gap: 30px;
        top: 91px;
        margin-top: 20px;
        width: 100%;
        
    }
}

@media(width <= 650px){
    .nav_toggle{
        left: 0;
    }
}








