@import '../../colors.scss';

nav{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: $colors-text-1;
    font-weight: 800;
    margin: auto 20vw;
    padding-top: 1.5vh;
}

li{
    flex-basis: 100px;
    text-align: center;
    a{
        padding: 10px 0;
        position: relative;
        
    }
    a:hover{
        color: $color-border-1
    }
    a::after {
       content: ''; 
       position: absolute;
       bottom: 0; 
       left: 0; 
       width: 0; 
       height: 2px; 
       background-color: $color-border-1; 
       transition: width 0.3s ease; 
    }
    a:hover::after {
        width: 100%; 
    }
    .activado::after{
        content: '';
        position: absolute; 
        bottom: 0; 
        left: 0; 
        width: 100%; 
        height: 2px; 
        background-color: $color-border-1; 
    } 
}

#twitter{
    transition: color, transform 0.3s ease-in-out;
}
#twitter:hover{
    color: #1DA1F2;
    transform: scale(110%);
    
}
 
#instagram{
    transition: color, transform 0.3s ease-in-out;
    
}
#instagram:hover{
    color: #000100;
    transform: scale(110%);
    
}
 
#facebook{
    transition: color, transform 0.3s ease-out;
    
}
#facebook:hover{
    color: #1877F2;
    transform: scale(110%);
    
    
}
 







