@import './colors.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pagina{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #240046, #553672, #866e9f );;
}

button{
    color: white;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
}