    <ng-container *ngIf="!abierto" >
        <div class="content_lema tw-flex tw-justify-center tw-mt-24">
            <h2 [ngStyle]="" class="tw-max-w-xl tw-text-center"><span>TODA</span> LA INFORMACIÓN QUE <span>NECESITAS</span> PARA LLEGAR A SER EL <span>MEJOR</span> </h2>
        </div>
        
            <div class="grid">
                <div class="tw-bg-gradient-to-br tw-from-[#EAD9FB] tw-to-[#DABAF8] tw-rounded ">HOLA</div>
                <div class="tw-bg-gradient-to-br tw-from-[#EAD9FB] tw-to-[#DABAF8]">HOLA</div>
                <div class="tw-bg-gradient-to-br tw-from-[#EAD9FB] tw-to-[#DABAF8]">HOLA</div>
                <div class="tw-bg-gradient-to-br tw-from-[#EAD9FB] tw-to-[#DABAF8]">HOLA</div>
            </div>
    </ng-container>

    